<settings>
<servers>
  <server>
    <id>favour-Favour-Devops-ci-cd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>favour-Favour-Devops-ci-cd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>favour-Favour-Devops-ci-cd</id>
        <url>https://favour-938586302001.d.codeartifact.us-east-1.amazonaws.com/maven/Favour-Devops-ci-cd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>favour-Favour-Devops-ci-cd</id>
    <name>favour-Favour-Devops-ci-cd</name>
    <url>https://favour-938586302001.d.codeartifact.us-east-1.amazonaws.com/maven/Favour-Devops-ci-cd/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>
